<nz-layout style="height: 100vh">
  <nz-header>
    <img class="logo" src="https://github.com/nats-io.png">
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-page-header nzTitle="Dashboard" nzSubtitle="Your NATS servers at a glance"></nz-page-header>
    <app-servers></app-servers>
  </nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout>
